#wrapper{
	@include display-position;
	width:100%;
	height:100%;
	margin-top: 7px;
	font-family: 'Ubuntu', sans-serif;;
	@media (min-width: 768px) and (max-width: 983px) {
		overflow: hidden;
		margin-top: 0;
	    margin-bottom: 0;
	}
	@media (min-width: 320px) and (max-width: 767px) {
		overflow: hidden;
		margin-top: 0;
	    margin-bottom: 0;
	}
}

.layout{
	margin: 0 auto;
	position:relative;
	width:984px;
	height: 100%;
	@media (min-width: 768px) and (max-width: 983px) {
		width: 100%;
	}
	@media (min-width: 320px) and (max-width: 767px) {
		width: 100%;
	}
}

main {
	@include display-position;
	width:100%;
	overflow: hidden;
	padding-bottom: 34px;
}