footer {
	display:block;
	// position: absolute;
	position: relative;
	width:100%;
	margin:26px 0 0;
	padding:0 0 0;
	height: 34px;
	bottom: 0;
	background: #a4785a;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	@media (min-width: 320px) and (max-width: 767px) {
		background: $color-important;
		height: auto;
	}	
	span{
		padding: 12px 21px 0 16px;
		font-size: 10px;
		color: $color1;
		@media (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
		&.copyright{
			float: left;
		}
		&.creator{
			float: right;
			a{
				color: #f0d5c3;
				text-decoration: underline;
			}
		}
	}
}
